* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

#overlay {
  position: fixed;
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 24px;
  background-color: #272a31;
  z-index: 2;
}

#overlay > img {
  width: 14px;
  height: 14px;
  padding: 17px 13px 17px 0;
  box-sizing: content-box;
  align-self: flex-end;
}

#overlay > a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 56px;
  color: white;
  margin-bottom: 8px;
  padding-left: 16px;
  border-bottom: 1px solid #6f6c6b;
  text-decoration: none;
}

.hide-me-on-mobile {
  display: none;
}

.header {
  margin: 1rem;
  padding: : 1rem;
  background-image: url("../images/mobile-placeholder.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#before-headline, #headline {
  color: #ec5242;
}

#home-description {
  padding-bottom: 5rem;
}

#main-program {
  margin: 1rem;
  padding: 2rem 1rem 5rem 1rem;
  background-image: url("../images/courses-placeholder.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#main-program-title {
  text-align: center;
  color: white;
}

#main-hr {
  width: 10%;
  margin: 0 45%;
  margin-top: 1rem;
  color: #ec5242;
  border: 1px solid #ec5242;
}

#courses {
  display: flex;
  flex-direction: column;
}

.course {
  display: grid;
  grid-template: 1fr / 1fr 2fr 4fr;
  /* display: flex; */
  padding: 1rem;
  color: #272a31;
  background-color: rgba(150, 150, 150, 0.4);
  margin: 2rem 0rem;
  align-items: center;
}

.course-title {
  margin: auto;
  color: #ec5242;
  margin-left: 0;
}

.course-description {
  color: white;
  align-self: center;
}

.course-illustraion {
  width: 70%;
  margin-right: 2rem;
}

.join-button {
  text-align: center;
}

#join-button {
  padding: 2rem;
  background-color: #ec5242;
  border: none;
  color: white;
  width: 80%;
}

#teachers-title {
  text-align: center;
}

.the-teachers{
    display: flex;
    flex-direction: column;
}

.teacher {
  display: flex;
  margin: 1.5rem 1.5rem;
  gap: 1rem;
  height: max-content;
  /* height: fit-content; */
}

.teacher-information {
  margin-right: 0px;
}

.teacher-image {
  width: 20%;
  height: 20%;
}

.teacher-job {
  color: #ec5242;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


#about {
  padding: 2rem;
}

.about-content {
  text-align: center;
  margin: 2rem 0rem;
}

.about-image {
  display: block;
  width: 90%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  color: white;
  background: linear-gradient(rgb(255, 0, 0, 0.5), rgb(255, 0, 0, 0.5)), url("../images/about-image-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.image-text {
  text-align: center;
  margin: 10rem;
  /* padding-top : 25%; */

}

#first-about-img {
  background: linear-gradient(rgb(255, 0, 0, 0.5), rgb(255, 0, 0, 0.5)), url("../images/about-image-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#second-about-img {
  background: linear-gradient(rgb(255, 0, 0, 0.5), rgb(255, 0, 0, 0.5)), url("../images/about-image-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#partner-title {
  text-align: center;
  color: white;
}


#partner {
  background-color: #272a31;
}

.rights {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}
